body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
.header {
    text-align: center;
    background-color: #6A9C89;
    color: #E9EFEC;
    padding: 15px;
}

#title {
    margin: 0;
    font-size: 32px;
}

#description {
    margin: 10px 0 0;
    font-size: 16px;
}

/* Form */
form#survey-form {
    background-color: #E9EFEC;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Input fields */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C4DAD2;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
}

form label {
    font-size: 14px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.checkbox label {
    padding-right: 100px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #16423C;
    color: #E9EFEC;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #6A9C89;
}
