/* Main header and general content */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    color: #666;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 5px;
}
.header h1{
    color: #f4f4f4;
}
.navigation ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
}
.navigation ul li a {
    color: #f4f4f4;
    text-decoration: none;
}
.navigation ul li a:visited {
    color: #f4f4f4;
}
.navigation ul li a:hover {
    color: #007bff;
}
.navigation ul li a:active {
    color: #f4f4f4;
}
/* section (index) */
.content {
    background-color: #f4f4f4;
    gap: 30px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.post1, .post2 {
    border: 1px solid;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.post1 img, .post2 img {
    width: 300px;
    height: auto;
    padding: 16px;
}
.directory {
    color: #333;
    text-decoration: none;
}

/* Blog post */
.blog {
    background-color: #f4f4f4;
    gap: 30px;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.blog-content {
    border: 1px solid;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-content img {
    width: 300px;
    height: auto;
    padding: 16px;
}
.blog-content h2 {
    color: #333;
}
/* footer */
.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f4f4f4;
}