.nav-color {
    background-color: #aca8a8d8; 
}
.border-top-dark {
    border-top: 1px solid rgba(230, 230, 230, 0.5);
}
.border-bottom-dark {
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}